# JWT CONFIGURATION
INTERNAL_SECRET_ACCESS_TOKEN=1nt3rn4ls3cr3tk3y4cc3ss4p1k3yD3vx14l4bs;
INTERNAL_ACCESS_TOKEN_EXPIRES_IN=25200s

# URL BASE NESTJS
URL_BASE_NESTJS=http://localhost:3000/api/

# URL BASE ANGULAR
URL_BASE_ANGULAR=https://localhost:4200/
